body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

.user {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user h2 {
    margin: 0;
    font-size: 1.2em;
}

.user p {
    margin: 5px 0;
}
