* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: font1;
    src: url(Roboto-Regular.ttf);
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d6;
    font-family: font1;
    
  }
  .row {
    width: 100%;
    /* height: 60px; */
    margin: 10px 0 0 0;
  }
 
  .keys-flex{
    /* background: linear-gradient(135deg, #f6c6c6, #f8e5e5, #d3b2ff, #a8d5e2); */
  }

  .key{
    width: 55px;
    height: 55px;
    background: rgb(214, 214, 214);
    outline: none;
    border: none;
    /* box-shadow: 5px 5px 10px #474343, -1px -1px 10px #fff; */
    box-shadow: 5px 5px 10px #8b8b8b, -5px -5px 10px #fff;
    /* border: 1px solid #474343 ; */
    border-radius: 50px;
    font-size: 18px;
    color: #000;
    margin-left:10px;
    cursor: pointer;
  }

  .key.highlight {
   color: red;
   box-shadow: 1px 1px 2px #fff8f8, -5px -5px 5px #474343;
}
  
  .keys-flex{
    display: flex;
    gap: 30px;
  }

  #capsLock{
    width: 100px;
  }

  #tab{
    width: 85px;
  }

  #shift{
    width: 150px;
  }


#space{
    width: 398px;
}

#backspace{
    width: 115px;
}

#enter{
    width: 135px;
}

#slash{
    width: 85px;
}
#send{
  width: 150px;
}

.keyboard :last-child button{
    width: 70px;
}

/* mail-- */

.mail{
  background-color: #fff;
  margin-bottom: 50px;
  border: 1px solid #474343;
  border-radius: 30px;
  width: 50%;
  justify-self: center;
}

.content{
 width: fit-content;
 display: flex;
 margin-top: 10px;
 flex-direction: column;
}

.top{
  height: 70px;
  display: flex;
  flex-direction: column;
  background-color: #333545;
  justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.top h1{
  font-size: 20px;
  color: #f0f0f0;
  font-family: font1;
  padding: 10px;
}

.contens-flex{
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #f0f0f0, -1px -1px 10px #f0f0f0;
}

.contens-flex div{
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 15px;
}

input{
  border: none;
  background-color: transparent;
}
textarea{
  border: none;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* button-- */

.remote{
  height: 80px;
  width: 80px;
  background-color: #ffff;
  border-radius: 50px;
  border: 5px solid #efba27;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.remote-btn{
  height:50px;
  width: 50px;
  border-radius: 50px;
  /* background-color: #f0f0f0; */
  box-shadow: 5px 5px 10px #f0f0f0, -5px -5px 10px #f0f0f0;
}
.remote-btn:active {
  box-shadow: 1px 1px 2px #fff8f8, -1px -1px 5px #474343;
}


.display-keys{
  /* height: 500px;
  width: 500px; */
  font-size: 50px;
/* width: 200px; */

 text-align: center;
  color: orangered;
}

.displa-div{
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50px;
  background-color: #fff;
}


/* prompts---- */

.custom-prompt{
  position: absolute;
  padding: 40px;
  background-color: #efba27;
}